@font-face {
    font-family: neu;
    src: url("./NeueHaasDisplayMediu.ttf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'neu';
}

html, body{
    height: 100%;
    width: 100%;
}


#page1{
    min-height: 100vh;
    width: 100%;
    background-color: #efeae3;
    position: relative;
    padding: 0 2vw;
}
nav{
    padding: 2vw 2vw;
   width: 100%;
   /* background-color: red */
   display: flex;
   align-items: center;
   justify-content: space-between;
}
nav img {
    height: 90px; /* Adjust the height of the image as needed */
   width: auto;
}
#nav-part2{
    display: flex;
    align-items: center;
    gap: 1vw;
}

#nav-part2 h4{
    padding: 10px 20px;
    border : 1px solid #0000003b;
    border-radius: 50px;
    font-weight: 500;
    color: #000000bb;
    transition: all ease 0.4s;
    position: relative;
    font-size: 18px;
    overflow: hidden;
}
#nav-part2 h4::after{
    content: " ";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 50% ;
    transition: all ease 0.4s;
}
#nav-part2 h4:hover::after{
    bottom: 0;
    border-radius: 0;
} 
#nav-part2 h4 a{
    color: #000000bb;
    text-decoration: none;
    position: relative;
    z-index: 9;   
}
#nav-part2 h4:hover a{
    color: #fff;
}

#center{
    height: 65vh;
    width: 100%;
    /*background-color: orange;*/
    display: flex;
    align-items: flex-end;
    justify-content: space-between; 
    border-bottom: 1px solid #0000003b;
    padding-bottom: 2.5vw;
}
#left h3{
    width: 25vw;
    font-size: 1.8vw;
    line-height: 2vw;
}
#center h1{
    font-size: 10vw;
    line-height: 9vw;
    text-align: right;
    margin-bottom: 70px;
}
#page1 video{
    position: relative;
    border-radius: 30px;
    margin-top: 4vw;
    width: 100%;
}
#hero-shape{
    position: absolute;

    width: 46vw;
    height: 36vw;
    background-color: #fe320a;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    right: 0;
    top: 65vh;
    filter: blur(20px);
}
#hero1{
    background-color: #fe320a;
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    filter: blur(20px);  
    position: absolute;
}
#hero2{
    background: linear-gradient(#fe320a, #fe4b0a);
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    filter: blur(25px);
    position: absolute;
    animation-name: anime2;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}
#hero3{
    background: linear-gradient(#fe320a, #fe4b0a);
    position: absolute;
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    filter: blur(25px);
    animation-name: anime1;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes anime1{
    from{
        transform: translate(55%, -3%);
    }
    to{
        transform: translate(0%, 10%);
    }  
}
@keyframes anime2{
    from{
        transform: translate(5%, -5%);
    }
    to{
        transform: translate(-20%, 30%);
    }
}

#page2 {
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 8vw 0;
}
#moving-text {
    overflow-x: auto;
    white-space: nowrap;
}
#moving-text::-webkit-scrollbar{
    display: none;
}
.con {
    white-space: nowrap;
    display: inline-block;
    animation-name: move;
    animation-duration: 10s; 
    animation-timing-function: linear;  
    animation-iteration-count:infinite;
}
#moving-text h1 {
    font-size: 9vw;
    display: inline-block;
}
#gola{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: inline-block;
    background-color: #fe4b0a;
    margin: 1vw 2vw  ;
}
@keyframes move{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }

}

.elem{
    position: relative;
    height: 150px;
    width: 100%;
    background-color: orange;
    display: flex;
    align-items: center;
    padding: 0 2vw;
}
.elem h2{
    font-size: 3vw;
}


.faq {
    margin-top: 100px;
    margin-bottom: 20px;
    width: 100%;
    background: #EFEAE3;
}
.faq h2 {
    text-align: left;
    margin: 20px 0;
    padding: 10px;
    background-color: #EFEAE3;
    color: #000;
    border-radius: 0;
    margin-bottom: 0;
}
.faq-item {
    padding: 15px;
    border: 1px solid #ddd;
    margin: 10px;
    border-radius: 5px;
    position: relative;
    background: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.faq-item h3 {
    margin: 0;
    cursor: pointer;
    color: #bc7819;
    transition: color 0.3s ease;
}
.faq-item h3:hover {
    color: #00000077;
}
.faq-item .answer {
    display: none;
    position: absolute;
    background: #b9a59e;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: calc(100% - 20px);
    z-index: 10;
    top: 100%;
    left: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.faq-item h3:hover + .answer {
    display: block;
}

footer {
    background-color: #cf994e;
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 14px;
    position: absolute; /* Changed from absolute */
    bottom: 0;
    width: 100%;
}


footer a {
    color: #FFD700;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}