<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Sales Gyan{% endblock %}</title>
    {% load static %}
    <link rel="shortcut icon" href="https://i.postimg.cc/Hx573hMf/icon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="{% static 'css/new_styles.css' %}">
</head>
<body>
    <nav>
        <a class="navbar-brand" href="{% url 'index' %}"><img src="https://i.postimg.cc/90hwkYtz/sale.png"></a>
        <div id="nav-part2">
            <h4><a class="nav-link" href="{% url 'index' %}">Home</a></h4>
            <h4><a href="{% url 'signup' %}">Join Us</a></h4>
            <h4><a class="nav-link" href="{% url 'upload_file' %}">Upload File</a></h4>
            <h4><a class="nav-link" href="{% url 'about' %}">About Us</a></h4>
            <h4><a class="nav-link" href="{% url 'contact_us' %}">Contact Us</a></h4>
            <h4><a class="nav-link" href="{% url 'blog_list' %}">Blog</a></h4>
        </div>
    </nav>

    {% block content %}
    <!-- Page-specific content goes here -->
    {% endblock %}

    <footer>
        <p>&copy; 2025 Sales Gyan All rights reserved. | <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a></p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const scroll = new LocomotiveScroll({
                el: document.querySelector('body'),
                smooth: true
            });
        });
    </script>
</body>
</html>
