{% extends 'base.html' %}

{% block title %}
    Login - E-Commerce Sales Prediction
{% endblock %}

{% block extra_css %}
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #1c1f2e;
    }
    .container {
        max-width: 500px;
        margin: 20px auto;
        padding: 20px;
        background-color: #003356;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(2, 96, 159, 0.262);
    }
    h2 {
        text-align: center;
        color: white;
        font-weight: bold;
    }
    label {
        font-size: large;
        font-weight: 300;
    }
    input[type=text], input[type=password] {
        width: 100%;
        padding: 12px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    button {
        width: 100%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        font-size: large;
    }
    button:hover {
        background-color: #45a049;
    }
    .remember-me {
        display: flex;
        align-items: center;
    }
    .remember-me input {
        margin-right: 10px;
    }
    .error {
        color: red;
        margin-bottom: 10px;
    }

    .other {
        text-align: center;
        margin-top: 30px;
        cursor: pointer;
        color: rgb(228, 228, 233);
        font-size: large;
        background-color: #00111C;
        border-radius: 10px;
        padding: 15px;
    }
</style>
{% endblock %}

{% block content %}
    <div class="container">
        <form id="loginForm" method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <h2>Login</h2>
            <div class="error">{{ form.non_field_errors }}</div>

            {{ form.email_or_username.label_tag }}
            {{ form.email_or_username }}

            {{ form.password.label_tag }}
            {{ form.password }}

            <div class="remember-me">
                <input type="checkbox" id="rememberMe" name="rememberMe">
                <label for="rememberMe">Remember Me</label>
            </div>

            <button type="submit">Login</button>
           
        </form>
        <a  href="{% url 'signup' %}"><button class="other">Switch to Login</button></a>
    </div>
{% endblock %}
