{% extends 'base.html' %}

{% block title %}
    Signup - E-Commerce Sales Prediction
{% endblock %}

{% block extra_css %}
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #1c1f2e;
    }
    .container {
        max-width: 500px;
        margin: 20px auto;
        padding: 20px;
        background-color: #003356;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(2, 96, 159, 0.262);
    }
    h2 {
        text-align: center;
        color: white;
        font-weight: bold;
    }
    label {
        font-size: large;
        font-weight: 300;
    }
    input[type=text], input[type=email], input[type=password], input[type=tel], select {
        width: 100%;
        padding: 12px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    button {
        width: 100%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        font-size: large;
    }
    button:hover {
        background-color: #45a049;
    }
    .error {
        color: red;
        margin-bottom: 10px;
    }

    .other {
        text-align: center;
        margin-top: 20px;
        cursor: pointer;
        color: rgb(228, 228, 233);
        font-size: large;
        background-color: #00111C;
        border-radius: 10px;
        padding: 15px;
    }
</style>
{% endblock %}

{% block content %}
    <div class="container">
        <form id="signupForm" method="post" action="{% url 'signup' %}">
            {% csrf_token %}
            <h2>Signup</h2>
            <div class="error">{{ form.non_field_errors }}</div>

            {{ form.fullname.label_tag }}
            {{ form.fullname }}

            {{ form.email.label_tag }}
            {{ form.email }}

            {{ form.username.label_tag }}
            {{ form.username }}

            {{ form.password1.label_tag }}
            {{ form.password1 }}
            <p>Password must be at least 8 characters long, not common, and not entirely numeric.</p>

            {{ form.password2.label_tag }}
            {{ form.password2 }}

            {{ form.phone.label_tag }}
            {{ form.phone }}

            {{ form.role.label_tag }}
            {{ form.role }}

            <button type="submit">Sign Up</button>
        </form>
        <a  href="{% url 'login' %}"><button class="other">Switch to Login</button></a>
    </div>
{% endblock %}